.buttons {
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
}
.small-section {
    display: flex;
    align-content: center;
    align-items: center;
    height: 30px;
}
.card-text {
    margin-left: 15px;
}
.scrollable {
    height: 600px;
    overflow-y: scroll;
}
.standalone-card {
    margin: 1px;
}
