<google-map
  height=100vh
  width=100vw
  [center]="center"
  [options]="options"
  (mapClick)="click($event)"
>
  <map-polygon
    #polygonElem
    *ngFor="let polygon of polygons"
    [paths]="polygon.paths"
    [(options)]="polygon.options"
    [id]="polygon.id"
    (polygonClick)="clickPoly(polygonElem)"
    (polygonMouseover)="hoverOnPoly(polygonElem)"
    (polygonMouseout)="hoverOffPoly(polygonElem)"
  >
  </map-polygon>

  <map-rectangle>
  </map-rectangle>
</google-map>
<app-browser
 class="overlayed"
 (search)="onSearch($event)"
>
</app-browser>