<google-map
  height=100vh
  width=100vw
  [center]="center"
  [options]="options"
>
  <map-polygon
    #polygonElem
    *ngFor="let polygon of polygons"
    [paths]="polygon.paths"
    [(options)]="polygon.options"
    [id]="polygon.id"
    (polygonClick)="clickPoly(polygonElem)"
    (polygonMouseover)="hoverOnPoly(polygonElem)"
    (polygonMouseout)="hoverOffPoly(polygonElem)"
  >
  </map-polygon>

</google-map>
<app-browser
 class="overlayed"
 (search)="onSearch($event)"
 (visualise)="hoverOnPoly($event)"
 (inspectTile)="showTileFromPatch($event)"
 (inspectPatches)="showPatchesFromTile($event)"
>
</app-browser>
<cookie-law>
  By continuing to browse this site, you're agreeing to our use of cookies. 
  We only use cookies to store whether or not you have agreed to this policy. 
</cookie-law>