
<mat-card>
  <mat-card-header>
    <mat-card-title>Browser</mat-card-title>
  </mat-card-header>

  <mat-tab-group
  [(selectedIndex)]="activeTabIndex">
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="icon">search</mat-icon>
        Search
      </ng-template>
      <div class="content">
        <mat-card-content>
          <mat-label>Maximum Cloud Cover (%)</mat-label>
          <section class="section">
            <mat-icon>wb_sunny</mat-icon>
            <mat-slider
                max=100
                min=1
                thumbLabel=true
                color="primary"
                [(ngModel)]=searchData.maxCloudCover
            >
            </mat-slider>
            <mat-icon class="icon">wb_cloudy</mat-icon>
          </section>
          <section class="section">
            <mat-form-field>
                <mat-label>Minimum File Size (MB)</mat-label>
                <input type="number" matInput [(ngModel)]="searchData.minFileSize">
            </mat-form-field>
          </section>
          <section>
            <mat-form-field>
                <mat-label>Select date range</mat-label>
                <input matInput
                    [satDatepicker]="picker"
                    [(ngModel)]="searchData.dateRange">
                <sat-datepicker #picker [rangeMode]="true"></sat-datepicker>
                <sat-datepicker-toggle matSuffix [for]="picker"></sat-datepicker-toggle>
              </mat-form-field>         
          </section>
          <section>
            <button mat-raised-button color="primary" (click)="update()">Search</button>
          </section>
          
        </mat-card-content>
      </div>
    </mat-tab>

    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="icon">format_list_bulleted</mat-icon>
        Results
      </ng-template>

      <div class="scrollable">
          <div *ngFor="let tile of tiles" >
              <mat-card class="standalone-card">
                <section class="small-section">
                  <mat-icon mat-list-icon>calendar_today</mat-icon>
                  <div mat-line>{{tile.datetime | date:'yyy-MM-dd'}}</div>
                </section>
                <section class="small-section">
                  <mat-icon mat-list-icon>access_time</mat-icon>
                  <div mat-line>{{tile.datetime | date:'hh:mm:ss'}} UTC</div>
                </section>
                <section class="small-section">
                  <mat-icon mat-list-icon>wb_cloudy</mat-icon>
                  <div mat-line>{{tile.cloud_cover}}%</div>
                </section>
                <section class="small-section">
                  <mat-icon mat-list-icon>data_usage</mat-icon>
                  <div mat-line>{{tile.size}} MB</div>
                </section>
                <section class="buttons">
                  <button fxLayoutAlign="space-between center" mat-raised-button color="primary" (click)="download(tile.path)">Download</button>
                  <button fxLayoutAlign="space-between center" mat-raised-button color="secondary" (click)="visualisePolygon(tile.path)">Visualise</button>
                </section>
              </mat-card>
          </div>
          
      </div>
  
    </mat-tab>
      
  </mat-tab-group>

</mat-card>