
<mat-card>
  <mat-card-header>
    <mat-card-title>Browser</mat-card-title>
  </mat-card-header>

  <mat-tab-group
  [(selectedIndex)]="activeTabIndex">
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="icon">search</mat-icon>
        Search
      </ng-template>
      <div class="content">
        <mat-card-content>
          <mat-label>Maximum Cloud Cover</mat-label>
          <section class="section">
            <mat-icon>wb_sunny</mat-icon>
            <mat-slider
                max=100
                min=1
                thumbLabel=true
                color="primary"
                [(ngModel)]=data.maxCloudCover
            >
            </mat-slider>
            <mat-icon class="icon">wb_cloudy</mat-icon>
          </section>
          <section class="section">
            <mat-form-field>
                <mat-label>Minimum File Size</mat-label>
                <input type="number" matInput [(ngModel)]="data.minFileSize">
            </mat-form-field>
          </section>
          <section>
            <mat-form-field>
                <mat-label>Select date range</mat-label>
                <input matInput
                    [satDatepicker]="picker"
                    [(ngModel)]="data.date">
                <sat-datepicker #picker [rangeMode]="true"></sat-datepicker>
                <sat-datepicker-toggle matSuffix [for]="picker"></sat-datepicker-toggle>
              </mat-form-field>         
          </section>
          <section>
            <button class="right" mat-raised-button color="primary" (click)="update()">Search</button>
          </section>
          
        </mat-card-content>
      </div>
    </mat-tab>

    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="icon">format_list_bulleted</mat-icon>
        Results
      </ng-template>

      Content 2

    </mat-tab>
      
  </mat-tab-group>


</mat-card>