
<mat-card *ngIf="!hidden">
  <mat-card-header class="header-small">
    <mat-card-title>
      <section class="section">
        <button mat-icon-button [matMenuTriggerFor]="menu">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item [disabled]="showTiles" (click)="selectTiles()">
            <mat-icon>map</mat-icon>
            <span>Tiles</span>
          </button>
          <button mat-menu-item [disabled]="showPatches" (click)="selectPatches()">
            <mat-icon>aspect_ratio</mat-icon>
            <span>Patches</span>
          </button>
          <button mat-menu-item (click)="swapHidden()">
            <mat-icon>keyboard_backspace</mat-icon>
            <span>Hide</span>
          </button>
        </mat-menu>
        <h1 class="main-title">EO Search</h1>
      </section>
    </mat-card-title>
    <button mat-icon-button class="help-button" color="primary" (click)="showHelp()">
      <mat-icon>help</mat-icon>
    </button>
  </mat-card-header>

  <mat-tab-group
  [(selectedIndex)]="activeTabIndex">
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="icon">search</mat-icon>
        Search
      </ng-template>
      <div class="content" *ngIf="showTiles">
        <mat-card-content>
          <mat-label>Maximum Cloud Cover (%)</mat-label>
          <section class="section">
            <mat-icon>wb_sunny</mat-icon>
            <mat-slider
                max=100
                min=1
                thumbLabel=true
                color="primary"
                [(ngModel)]=tileSearchData.maxCloudCover
            >
            </mat-slider>
            <mat-icon class="icon">wb_cloudy</mat-icon>
          </section>
          <section class="section">
            <mat-form-field>
                <mat-label>Minimum File Size (MB)</mat-label>
                <input type="number" matInput [(ngModel)]="tileSearchData.minFileSize">
            </mat-form-field>
          </section>
          <section>
            <mat-form-field>
                <mat-label>Select date range</mat-label>
                <input matInput
                    [satDatepicker]="picker"
                    [(ngModel)]="tileSearchData.dateRange">
                <sat-datepicker #picker [rangeMode]="true"></sat-datepicker>
                <sat-datepicker-toggle matSuffix [for]="picker"></sat-datepicker-toggle>
              </mat-form-field>         
          </section>
          <section>
            <button mat-raised-button color="primary" (click)="updateSearch(tileSearchData)">Search</button>
          </section>
          
        </mat-card-content>
      </div>
      <div class="content" *ngIf="showPatches">
        <mat-card-content>
          <section class="section">
            <mat-form-field>
              <mat-label>Labels</mat-label>
              <mat-select [(ngModel)]="patchSearchData.labels" multiple>
                <mat-option *ngFor="let label of labelList" [value]="label">{{label}}</mat-option>
              </mat-select>
            </mat-form-field>
          </section>
          <section>
            <mat-form-field>
                <mat-label>Select date range</mat-label>
                <input matInput
                    [satDatepicker]="picker"
                    [(ngModel)]="patchSearchData.dateRange">
                <sat-datepicker #picker [rangeMode]="true"></sat-datepicker>
                <sat-datepicker-toggle matSuffix [for]="picker"></sat-datepicker-toggle>
              </mat-form-field>         
          </section>
          <section>
            <button mat-raised-button color="primary" (click)="updateSearch(patchSearchData)">Search</button>
          </section>
          
        </mat-card-content>
      </div>
    </mat-tab>

    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="icon">format_list_bulleted</mat-icon>
        Results
      </ng-template>

      <div class="scrollable" *ngIf="showTiles">
        <div class="standalone-card">Showing {{ tiles.length }} of {{ tilesMatched }} results</div>
        <div *ngFor="let tile of tiles">
          <mat-card class="standalone-card">
            <section class="small-section">
              <mat-icon mat-list-icon>calendar_today</mat-icon>
              <div class="card-text" mat-line>{{tile.datetime | date:'yyy-MM-dd'}}</div>
            </section>
            <section class="small-section">
              <mat-icon mat-list-icon>access_time</mat-icon>
              <div class="card-text" mat-line>{{tile.datetime | date:'hh:mm:ss'}} UTC</div>
            </section>
            <section class="small-section">
              <mat-icon mat-list-icon>wb_cloudy</mat-icon>
              <div class="card-text" mat-line>{{tile.cloud_cover}}%</div>
            </section>
            <section class="small-section">
              <mat-icon mat-list-icon>data_usage</mat-icon>
              <div class="card-text" mat-line>{{tile.size}} MB</div>
            </section>
            <section *ngIf="tileHasPatches(tile)" class="small-section">
              <mat-icon mat-list-icon>aspect_ratio</mat-icon>
              <button class="card-text" mat-raised-button (click)="showPatchesFromTile(tile.path)">View Patches</button>
            </section>
            <section class="buttons">
              <button fxLayoutAlign="space-between center" mat-raised-button color="primary" (click)="download(tile.path)">Download</button>
              <button fxLayoutAlign="space-between center" mat-raised-button color="secondary" (click)="visualisePolygon(tile)">Visualise</button>
            </section>
          </mat-card>
        </div>
      </div>

      <div class="scrollable" *ngIf="showPatches">
        <div class="standalone-card">Showing {{ patches.length }} of {{ patchesMatched }} results</div>
        <div *ngFor="let patch of patches">
            <mat-card class="standalone-card">
              <section class="small-section">
                <mat-icon mat-list-icon>calendar_today</mat-icon>
                <div class="card-text" mat-line>{{patch.datetime | date:'yyy-MM-dd'}}</div>
              </section>
              <section class="small-section">
                <mat-icon mat-list-icon>access_time</mat-icon>
                <div class="card-text" mat-line>{{patch.datetime | date:'hh:mm:ss'}} UTC</div>
              </section>
              <section class="small-section">
                <mat-icon mat-list-icon>label</mat-icon>
                <button class="card-text" mat-button [matMenuTriggerFor]="menuLabel">Labels</button>
                <mat-menu #menuLabel="matMenu">
                  <button *ngFor="let label of patch.labels" mat-menu-item>{{ label }}</button>
                </mat-menu>
              </section>
              <section class="small-section">
                <mat-icon mat-list-icon>map</mat-icon>
                <button class="card-text"  mat-raised-button (click)="showTileFromPatch(patch.path)">View Tile</button>
              </section>
              <section class="buttons">
                <button fxLayoutAlign="space-between center" mat-raised-button color="primary" (click)="download(patch.path)">Download</button>
                <button fxLayoutAlign="space-between center" mat-raised-button color="secondary" (click)="visualisePolygon(patch)">Visualise</button>
              </section>
            </mat-card>
        </div>
    </div>
  
    </mat-tab>
      
  </mat-tab-group>

</mat-card>

<button *ngIf="hidden" (click)="swapHidden()" mat-mini-fab color="secondary" class="hidden-button">
  <mat-icon>keyboard_tab</mat-icon>
</button>
